<html>

<head>
<title>RaMBO</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://raw.github.com/cowboy/jquery-hashchange/master/jquery.ba-hashchange.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script src="http://arshaw.com/js/fullcalendar-1.5.1/fullcalendar/fullcalendar.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" rel="Stylesheet" />

<link rel="stylesheet" type="text/css" href="http://arshaw.com/js/fullcalendar-1.5.1/fullcalendar/fullcalendar.css" />
<link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Meddon' rel='stylesheet' type='text/css'>
<style>
body{
	margin:0 0 0 0;
	font-family: calibri, sans-serif;
}
#header{
	height:100px;
	display:block;
	font-family: 'Dawning of a New Day', cursive;
	font-size:70px;
	padding-left:25px;
}
#footer{
	display:block;
	clear:both;
}
#resource_bar{
	float:left;
	width:250px;
	padding-left:3px;
}
#resource_calendar{
	float:left;
	width:850px;
}
.bar{
	padding-bottom:10px;
}
.bar_title{
	font-size:1.5em;
	display:inline-block;
}
#add_resource{
	float:right;
	display:block;
	width:16px;
	height:16px;
}
.share{
	float:right;	
	padding-right:16px;
}
</style>
<script>
render_resource = function(data){
	var r = $("<li></li>");
	var a = $("<a></a>");
	if ('owner' in data)
		r.append(data['owner'] + ": ");
	a.attr('href',"#"+ data['url']);
	a.attr('class', 'resource');
	a.append(data['name']);
	r.append(a);
	if (!('owner' in data)){
		var s = $('<a></a>');
		s.append('share');
		s.attr('href', '#'+data['share']);
		s.attr('class', 'share');
		r.append(s);
	}
	return r;
}

render_resources = function(data){
	var r = $('<ul></ul>');
	for(var k in data){
		var value = data[k];
		r.append(render_resource(value));
	}
	return r.html();
}
get_data = function(data){
	if (data['type'] == "error"){
		var d = $('<div></div>');
		d.append(data['content']);
		d.dialog({
			modal:true
		});
	} else
		return data['content']
}

drag_start = function(event, ui){
	var el = $(event.srcElement);
	url = el.attr('href').split('#')[1];
	$.getJSON(url, function(data){
		/*setup calendar*/
	});
}

$(function(){
		

	$.getJSON('{{get_user_resources}}', function(data){
		if(data['type'] == "response"){
			$('#own_resources').append(render_resources(data['content']));
			$('.resource').draggable({
				revert:true,
				revertDuration:0,
				start:drag_start
			});	
		}else;		
	});
	
	$.getJSON('{{get_shared_resources}}', function(data){
		if(data['type'] == "response"){
			$('#shared_resources').append(render_resources(data['content']));
			$('.resource').draggable({
				revert:true,
				revertDuration:0,
				start:drag_start
			});
		}else;
	});
	
	$(window).hashchange(function(){
		nurl = location.hash.split('#')[1];
		$.getJSON(nurl, function(data){
			alert(data);
		});
	});
	$('#resource_calendar').fullCalendar({
		droppable:true,
		dropaccept:".resource",
		drop: function(date, allDay){
			var h = $(this).attr('href').split('#')[1];
			alert("Dropped " +$(this).attr('href')+ " on " + date + " with allDay=" + allDay);
			$.getJSON(h, function(data){
				var date_string = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate();
				var time_string = date.getHours() + ":" + date.getMinutes();
				var new_url = data['add_booking'];
				$.getJSON(new_url, {
					'date_start':date_string, 
					'time_start':time_string
				});	
			});
		},
		defaultView:'agendaWeek',
		header:{
			left:'title',
			center:'month,agendaWeek,agendaDay',
			right:  'today prev,next'
		},
		selectable:true,
		selectHelper:true
		
	});

	$('#add_resource').click(function(){
		$.get('', function(data){
			$(data).dialog({
				modal:true
			});
		});
	});
	$('.share').live('click', function(event){
		var dd = $(this);
		event.preventDefault();
		var t = $("<div></div>");
		t.addClass('sharebox');
		var i = $("<label for='share_user'>Username:</label><input name='share_user' class='share_user' type='text'></input>");
		t.append(i);
		var c = $("<label for='share_details'>Share details:</label><input name='share_details' class='share_details' type='checkbox'></input>");
		t.append(c);
		var p = dd.position();
		t.dialog({
			position:[p.left, p.top],
			title:"Share",
			buttons:{
				"Ok":function(){
					var url = dd.attr('href').split('#')[1];
					var user = $(this).find('.share_user').val();
					var share = $(this).find('.share_details:checked').length == 1 ;
					$.getJSON(url, {"with":user, 'transparent':share}, function(data){
						/*do stuff*/
						$(this).dialog('destroy');
						$('.sharebox').remove();
					});
				},
				"Cancel":function(){
					$(this).dialog('destroy');
					$('.sharebox').remove();
				}
			}
		});
	});
});
</script>
</head>

<body>
<div id="header">RaMBO</div>
<div id="toolbar"><span id="login">Login</span> <span id="register">Register</span></div>
<div id="resource_bar">
	<div class="bar" id="own_resources">
		<div class="bar_title">Own Resources</div>
		<div id="add_resource">+</div>
	</div>
	<div class="bar" id="shared_resources">
		<div class="bar_title">Shared Resources</div>
	</div>
</div>
<div id="resource_calendar"></div>
<div id="footer">MMo.it</div>
</body>

</html>
