<html>

<head>
<title>RaMBo</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://raw.github.com/cowboy/jquery-hashchange/master/jquery.ba-hashchange.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script src="http://arshaw.com/js/fullcalendar-1.5.1/fullcalendar/fullcalendar.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" rel="Stylesheet" />

<link rel="stylesheet" type="text/css" href="http://arshaw.com/js/fullcalendar-1.5.1/fullcalendar/fullcalendar.css" />
<link href='http://fonts.googleapis.com/css?family=Kelly+Slab|Leckerli+One' rel='stylesheet' type='text/css'>
<style>
body{
	margin:0 0 0 0;
	font-family: calibri, sans-serif;
}
#header{
	height:100px;
	display:block;
	font-family: 'Leckerli One', cursive;
	font-size:70px;
	padding-left:25px;
}
#footer{
	display:block;
	clear:both;
}
#resource_bar{
	float:left;
	width:250px;
	padding-left:3px;
}
#resource_calendar{
	float:left;
	width:850px;
}
.bar{
	padding-bottom:10px;
}
.bar_title{
	font-family:'Kelly Slab', serif;
	font-size:1.5em;
	display:inline-block;
}
#add_resource{
	float:right;
	display:block;
	padding-top:3px;
	padding-right:16px;
}
.share{
	float:right;	
	padding-right:16px;
}
</style>
<script>
render_resource = function(data){
	var r = $("<li></li>");
	var a = $("<a></a>");
	if ('owner' in data)
		r.append(data['owner'] + ": ");
	a.attr('href',"#"+ data['url']);
	a.attr('class', 'resource');
	a.append(data['name']);
	r.append(a);
	if (!('owner' in data)){
		var s = $('<a></a>');
		s.append('share');
		s.attr('href', '#'+data['share']);
		s.attr('class', 'share');
		r.append(s);
	}
	return r;
}

render_resources = function(data){
	var r = $('<ul></ul>');
	for(var k in data){
		var value = data[k];
		r.append(render_resource(value));
	}
	return r.html();
}
get_data = function(data){
	if (data['type'] == "error"){
		var d = $('<div></div>');
		d.append(data['content']);
		d.dialog({
			modal:true
		});
	} else
		return data['content']
}

drag_start = function(event, ui){
	var el = $(event.srcElement);
	url = el.attr('href').split('#')[1];
	$.getJSON(url, function(data){
		/*setup calendar*/
	});
}

$.active_resource= "";

$(function(){
		

	$.getJSON('{{get_user_resources}}', function(data){
		if(data['type'] == "response"){
			$('#own_resources').append(render_resources(data['content']));
			$('.resource').draggable({
				revert:true,
				revertDuration:0,
				start:drag_start
			});	
		}else;		
	});
	
	$.getJSON('{{get_shared_resources}}', function(data){
		if(data['type'] == "response"){
			$('#shared_resources').append(render_resources(data['content']));
			$('.resource').draggable({
				revert:true,
				revertDuration:0,
				start:drag_start
			});
		}else;
	});
	
	$(window).hashchange(function(){
		nurl = location.hash.split('#')[1];
		$.getJSON(nurl, function(data){
			try{
				$('#resource_calendar').fullCalendar('removeEvents');
				$('#resource_calendar').fullCalendar( 'removeEventSource',$.active_resource );
			} catch(e){}
			$.active_resource = data['content']['booking_url'];
			$('#resource_calendar').fullCalendar('addEventSource',$.active_resource);
			$('#resource_calendar').fullCalendar('refetchEvents');
		});
	});
	$(window).hashchange();
	$('#resource_calendar').fullCalendar({
		droppable:true,
		dropaccept:".resource",
		drop: function(date, allDay){
			var h = $(this).attr('href').split('#')[1];
			var name = $(this).text();
			$.getJSON(h, function(data){
				var date_string = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate();
				var time_string = date.getHours() + ":" + date.getMinutes();
				var new_url = data['content']['add_booking'];
				var eb = $('#add_event_box').clone(true);
				eb.find('.book_date').datepicker({
					onSelect:function(dateText, inst){
						var date = new Date(dateText);
						$(this).val(date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate());
					}
				});
				eb.find('[name=book_start_date]').val(date_string);
				eb.find('[name=book_start_time]').val(time_string);
				eb.find('[name=book_resource]').val(name);
				eb.dialog({
					width:350,
					buttons:{
						'Ok':function(){
							booking_data = {};
							booking_data['description'] = $(this).find('[name=book_description]').val();
							booking_data['date_start'] = $(this).find('[name=book_start_date]').val();
							booking_data['date_end'] = $(this).find('[name=book_end_date]').val();
							booking_data['time_start'] = $(this).find('[name=book_start_time]').val();
							booking_data['time_end'] = $(this).find('[name=book_end_time]').val();
							booking_data['repeat'] = false;
			
							$.get(new_url, booking_data, function(data){
								alert(data)
							});
							$(this).dialog('destroy');
				                        $('#resource_calendar').fullCalendar('refetchEvents');
						}, 
						'Cancel':function(){
							$(this).dialog('destroy');
						}
					}
				});
			});
		},
		defaultView:'agendaWeek',
		header:{
			left:'prev,next today',
			center:'title',
			right:  'month,agendaWeek,agendaDay'
		},
		selectable:true,
		selectHelper:true,
		select:function(startDate, endDate, allDay){
		}
		
	});
	$('#add_resource_box').hide();
	$('#add_event_box').hide();
	$('#add_resource').click(function(){
	        var dd = $(this);
	        var p = dd.position();
	        $('#add_resource_box').clone(true).dialog({
	                position: [p.left, p.top],
	                title:"Add Resource",
	                buttons:{
	                        'Ok':function(){
					$.get('{% url add_resource %}', {
										'name':$(this).find('input[name=resource_name]').val(), 
										'icon':$(this).find('input[name=resource_icon]').val()
						}, function(data){
						$('#own_resources').contents().not('.bar_title').not('#add_resource').remove();
						$.getJSON('{{get_user_resources}}', function(data){
					                if(data['type'] == "response"){
					                        $('#own_resources').append(render_resources(data['content']));
					                        $('.resource').draggable({
					                                revert:true,
			        	                        	revertDuration:0,
			                	        	        start:drag_start
			                		        });
				        	        }else;
					        });
					});
	                                $(this).dialog('destroy');
	                        },
	                        'Cancel':function(){
	                                $(this).dialog('destroy');
	                        }
	                },
	                draggable:false, 
			modal:true
	        });
	});


	$('.share').live('click', function(event){
		var dd = $(this);
		event.preventDefault();
		var t = $("<div></div>");
		t.addClass('sharebox');
		var i = $("<label for='share_user'>Username:</label><input name='share_user' class='share_user' type='text'></input>");
		t.append(i);
		var c = $("<label for='share_details'>Share details:</label><input name='share_details' class='share_details' type='checkbox'></input>");
		t.append(c);
		var p = dd.position();
		t.dialog({
			position:[p.left, p.top],
			title:"Share",
			buttons:{
				"Ok":function(){
					var url = dd.attr('href').split('#')[1];
					var user = $(this).find('.share_user').val();
					var share = $(this).find('.share_details:checked').length == 1 ;
					$.getJSON(url, {"with":user, 'transparent':share}, function(data){
						/*do stuff*/
						$(this).dialog('destroy');
						$('.sharebox').remove();
					});
				},
				"Cancel":function(){
					$(this).dialog('destroy');
					$('.sharebox').remove();
				}
			},
			draggable:false,
			modal:true
		});
	});
});
</script>
</head>

<body>
<div id="header">RaMBO</div>
<div id="toolbar"><span id="login"><a href="/logout">Logout</a></span></div>
<div id="resource_bar">
	<div class="bar" id="own_resources">
		<div class="bar_title">Own Resources</div>
		<div id="add_resource"><a href="#">Add</a></div>
	</div>
	<div class="bar" id="shared_resources">
		<div class="bar_title">Shared Resources</div>
	</div>
</div>
<div id="resource_calendar"></div>
<div id="footer">MMo.it</div>

<div id="add_resource_box">
	<label for="resource_name">Resource Name: </label><input type="text" name="resource_name"></input><br/>
<!--	<label for="resource_icon">Resouce Icon:</label>
	<table >
	<tr>
		<td>
		<input type="radio" name="resource_icon" value="generic.png"><img src="#" width="24" height="24" /></input>
		</td>
		<td>
		<input type="radio" name="resource_icon" value="generic.png"><img src="#" width="24" height="24" /></input>
		</td>
		<td>
		<input type="radio" name="resource_icon" value="generic.png"><img src="#" width="24" height="24" /></input>
		</td>
	</tr>
	</table>-->
</div>

<div id="add_event_box">
<p>
	<label for="book_resource">Resource Name: </label><input class="book_resource" type="text" name="book_resource"></input><br/>
	<label for="book_description">Description: </label><br />
	<textarea rows="2" cols="20" name="book_description"></textarea><br/>
</p><p>
	<label for="book_start_date">Start Date: </label><input class="book_date" type="text" name="book_start_date"></input><br/>
	<label for="book_start_time">Start Time: </label><input class="book_start_time" type="text" name="book_start_time" value="00:00"></input><br/>
</p><p>
	<label for="book_end_date">End Date: </label><input class="book_date" type="text" name="book_end_date"></input><br/>
	<label for="book_end_time">End Time: </label><input class="book_start_date" type="text" name="book_end_time" value="23:59"></input><br/>
</p>
</div>
</body>

</html>
